# Verify your email

Dear User,

**{{ code }}** is your code for Email Verification. Please enter the code to verify your email.

Note that this code is valid for {{ time }} only. If you didn't make this request, please ignore this email.
